@model ThAmCo.Events.Data.GuestBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuestBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventClass.EventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventClass.EventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.NameFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.NameFirst)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuestBookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
